#basquetbol{
  width: 600px;
  height: 300px;
  background: #A57E32;
  position: relative;
  margin: 0 auto;
}
#basquetbol *{
  position: absolute;
}
.linea{
  width: 0px;
  height: 298px;
  border: 1px solid #795100;
  margin-left: 300px;
}
.circulo{
  width: 70px;
  height: 70px;
  border: 2px solid #795100;
  border-radius: 50%;
  margin-top: 110px;
  margin-left: 263px;
}
#Der{
  margin-left: 435px;
}
#Izq{
  margin-left: 90px;
}
.semicirculo{
  width: 170px;
  height: 250px;
  border: 2px solid #795100;
  border-radius: 0 130px 130px 0;
  margin-top: 22px;
}
#semiDer{
  margin-left: 426px;
  transform: rotate(180deg);
}
.trapecio{
  width: 72px;
  height: 130px;
  margin-top: 17px;
  margin-left: 65px;
  transform: rotate(90deg);
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 130px solid #795100;
}
.trapecioPeque{
  width: 70px;
  height: 128px;
  margin-top: 19px;
  margin-left: 67px;
  transform: rotate(90deg);
  border-right: 28px solid transparent;
  border-left: 28px solid transparent;
  border-bottom: 128px solid #A57E32;
}
#trapecioDer{
  transform: rotate(270deg);
  margin-left:403px;
}
#pequeDer{
  transform: rotate(270deg);
  margin-left:407px;
}
