body{
  background: #D3E8F3;
  font-family: Helvetica;
}
header{
  background: #087EBB;
  padding: 10px;
  color: white;
}
h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
}
button{
  margin:10px;
  border-radius: 15px;
  background: white;
  height: 35px;
}
.botones{
  margin-left: 35%;
}
